<div class="container">
  <h1 class="m-5 text-center"><%= @room.name %></h1>
    <%= link_to "Back", rooms_path, class: "mt-3 btn btn-outline-primary" %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <% if @items.any? %>
        <div class="container">
          <div class="row">

            <% @items.each do |item| %>
              <div class="col-4 mb-3">
                  <div class="card-trip">
                    <img src="<%= item.url %>" />
                    <div class="card-trip-infos">
                      <div>
                        <h2><%= item.name %></h2>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <h2>No items in this room yet, add some!</h2>
      <% end %>
    </div>
    <div class="col-4">
      <h2>Add an item:</h2>
      <%= simple_form_for [@room, @item] do |f| %>
        <%= f.input :name %>
        <%= f.input :brand %>
        <%= f.input :price %>
        <%= f.input :url %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
